.slider .track {
    -fx-background-color: white;
}

.slider .thumb {
    -fx-background-color: red;
}
.slider .axis {
    -fx-tick-label-fill: red;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker green */
}

.button:pressed {
    -fx-background-color: #0a7d23; /* Even darker green */
}